/*
 * Import module elements
 */
@import 'init/init';

.growl {
	position: fixed;
	z-index: 201;
	top: 57px;
	right: 25px;

	width: 280px;

	pointer-events: none;

	.notice,
	.acf-error-message,
	#update-nag,
	.update-nag,
	div.updated,
	div.error {
		display: block;
	}
}

.notice,
.acf-error-message,
#update-nag,
.update-nag,
div.updated,
div.error {
	position: relative;

	display: none;
	margin: 0 0 10px 0;
	padding: 1px 15px !important;

	border-style: solid;
	border-top-width: 0;
	border-right-width: 30px;
	border-bottom-width: 0;
	border-left-width: 0;
	border-radius: 5px;

	color: $white;

	pointer-events: initial;

	a {
		color: $white;
	}

	p {
		margin: 10px 0;
		padding: 0;
	}
}

.notice-dismiss,
.acf-icon.-cancel {
	position: absolute;
	top: 5px;
	right: -30px;

	box-sizing: border-box;
	width: 20px;
	height: 20px;
	padding: 15px !important;

	outline: none !important;
	background: transparent !important;
	box-shadow: none !important;

	&:before {
		content: '\f335';
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 50%;

		display: block;
		width: 20px;
		height: 20px;

		font: normal 16px/20px dashicons;
		-webkit-font-smoothing: antialiased;
		color: $white;

		text-align: center;

		transition: color .15s $curve-standard;
		transform: translate(-50%, -50%);

		speak: none;
	}

	&:hover:before,
	&:active:before,
	&:focus:before {
		color: $white !important;
	}
}

div.updated,
.notice-success {
	border-color: $success-color-dark;
	background-color: $success-color;
}

.notice-error,
div.error,
.acf-error-message {
	border-color: $error-color-dark;
	background-color: $error-color;
}

.notice-info {
	border-color: $info-color-dark;
	background-color: $info-color;

	.notice-dismiss,
	.acf-icon.-cancel {
		&:after {
			background-color: $info-color-dark;
		}
	}
}

#update-nag,
.update-nag,
.notice-warning {
	border-color: $warning-color-dark;
	background-color: $warning-color;
}

.notice-snooze {
	&:before {
		content: '\f530';
	}

	&-menu {
		position: absolute;
		z-index: 202;
		top: -16px;
		right: 5px;

		min-width: 135px;
		margin: 0;
		padding: 7px 0;

		border-radius: 5px;
		background: $dark-gray;
		box-shadow: 0 0 5px rgba($black, .2);

		list-style: none;

		&:before,
		&:after {
			content: '';
			position: absolute;
			z-index: 2;
			top: 30px;

			display: block;
			width: 0;
			height: 0;

			border: transparent solid 7px;

			pointer-events: none;
		}

		&:before {
			left: 100%;

			border-left-color: $dark-gray;
		}

		&:after {
			right: 0;

			border-right-color: $dark-gray;
		}

		li {
			position: relative;

			display: block;
			margin: 0;
			padding: 7px 12px;

			font-size: 13px;
			line-height: 16px;
			color: #eee;

			list-style: none;
			cursor: pointer;
			white-space: nowrap;
			text-decoration: none;

			&:hover {
				background-color: #0073aa;

				color: #fff;
			}
		}
	}
}