body.flex {
	#poststuff #post-body.columns-2 {
		margin-right: 0;
	}

	#post-body {
		display: flex;
		flex: 0 0 300px;

		&.columns-2 {
			.column {
				&.left {
					flex-grow: 1;
				}
			}

			#postbox-container-1 {
				flex: 0 0 280px;
				margin-right: 0;
				padding-left: 20px;
			}
		}
	}

	#post-body-content,
	#postbox-container-1,
	#postbox-container-2 {
		float: none !important;
	}

	.sticky-container {
		position: sticky;
		top: 46px;
	}
}