.growl
{
    position: fixed;
    z-index: 9999;
    top: 52px;
    right: 20px;

    width: 280px;

    pointer-events: none;

    .notice,
    .acf-error-message,
    .update-nag
    {
        margin: 0 0 10px 0;

        pointer-events: initial;
    }
}
