/*
 * When using ACF alot, sometimes you get an overload of blue buttons.
 * To make our publishing actions more noticable we'll make the publish button green and fixed!
 */
#major-publishing-actions {
	height: 105px;
	padding: 0;

	// Different height when new (no purge & delete action
	&.major-publishing-actions--new {
		height: 66px;
	}
}

// Don't do this on new, because they're only half there. Wordpress doesn't properly hide it in the php code.
body:not(.post-new-php) {

	// Support for WP Rocket pure button
	#purge-action {
		float: left;
		padding: 10px 10px 0;
	}

	#delete-action {
		float: right;
		padding: 10px 10px 0;
	}
}

#publishing-action {
	z-index: 300;

	box-sizing: border-box;
	width: 100%;
	padding: 10px;

	background-color: $light-gray;

	&.publishing-action--fixed {
		position: fixed;
		top: 30px;

		border: 1px solid $medium-gray;
		border-top: 0;
		box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	}

	.spinner {
		position: absolute;

		margin-top: 13px;

		// New spinner with green background, because gifs don't deal with changing background color very well.
		background-image: url('../images/spinner.gif');

		@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
			background-image: url('../images/spinner-2x.gif');
		}
	}

	.button-primary {
		width: 100%;
		height: 46px;
		padding: 9px 30px 11px 30px;

		border-color: $success-color-dark;
		background: $success-color;
		box-shadow: 0 3px 0 $success-color-dark;
		text-shadow: none;

		font-size: 14px;

		&.disabled,
		&.button-primary-disabled {
			border-color: $success-color-dark !important; // Important because WP doesn't like us changing this
			background: $success-color !important; // Important because WP doesn't like us changing this

			color: rgba($white, .5) !important; // Important because WP doesn't like us changing this
		}

		&.focus,
		&:hover,
		&:focus {
			background-color: $success-color-light;
		}

		&.active,
		&.active:focus,
		&.active:hover,
		&:active {
			border-color: $success-color-dark;
			background-color: $success-color-medium;
			box-shadow: inset 0 2px 0 $success-color-dark;

			transform: translateY(3px);
		}
	}
}