.growl
{
    position: fixed;
    z-index: 201;
    top: 52px;
    right: 20px;

    width: 280px;

    pointer-events: none;

    .notice,
    .acf-error-message,
    #update-nag,
    .update-nag
    {
        display: block;
        margin: 0 0 10px 0;

		border-top-width: 1px;
		border-right-width: 30px;
		border-bottom-width: 1px;
		border-left-width: 1px;
		border-style: solid;

        color: $white;

        pointer-events: initial;

        a
        {
            color: $white;
        }
    }

    .notice-dismiss,
    .acf-icon.-cancel
    {
        position: absolute;
        top: 9px;
        right: -25px;

        width: 20px;
        height: 20px;

        background: transparent !important;

        &:before
        {
            content: '\f153';
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;

            display: block;
            width: 20px;
            height: 20px;

            font: normal 16px/20px dashicons;
            -webkit-font-smoothing: antialiased;

            text-align: center;

            transition: color .15s $curve-standard;
            transform: translate(-50%, -50%);

            speak: none;
        }

        &:hover:before,
        &:active:before,
        &:focus:before
        {
            color: $white !important;
        }

        &:after
        {
            content: '';
            position: absolute;
            z-index: 0;
            top: 50%;
            left: 50%;

            display: block;
            width: 10px;
            height: 10px;

            border-radius: 50%;
            background-color: $white;

            transition: background-color .15s $curve-standard;
            transform: translate(-50%, -50%);
        }

        &:hover:after,
        &:active:after,
        &:focus:after
        {
            background-color: transparent;
        }
    }

    div.updated,
    .notice-success
    {
        border-color: $success-color-dark;
        background-color: $success-color;

        .notice-dismiss,
        .acf-icon.-cancel
        {
            color: $success-color-dark;

            &:before
            {
                color: $success-color-dark;
            }
        }
    }

    .notice-error,
    div.error,
    .acf-error-message
    {
        border-color: $error-color-dark;
        background-color: $error-color;

        .notice-dismiss,
        .acf-icon.-cancel
        {
            color: $error-color-dark;

            &:before
            {
                color: $error-color-dark;
            }
        }
    }

	.notice-info {
		border-color: $info-color-dark;
		background-color: $info-color;

		.notice-dismiss,
		.acf-icon.-cancel
		{
			color: $info-color-dark;

			&:before
			{
				color: $info-color-dark;
			}
		}
	}

    #update-nag,
    .update-nag,
    .notice-warning
    {
        border-color: $warning-color-dark;
        background-color: $warning-color;

		.notice-dismiss,
		.acf-icon.-cancel
		{
			color: $warning-color-dark;

			&:before
			{
				color: $warning-color-dark;
			}
		}
    }
}