#major-publishing-actions
{
    height: 105px;
    padding: 0;

    &.major-publishing-actions--new
    {
        height: 66px;
    }
}

body:not(.post-new-php) #delete-action
{
    float: right;
    padding: 10px 10px 0;
}

#publishing-action
{
    z-index: 200;

    box-sizing: border-box;
    width: 100%;
    padding: 10px;

    background-color: $light-gray;

    &.publishing-action--fixed
    {
        position: fixed;
        top: 32px;

        border: 1px solid $medium-gray;
        border-top: 0;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    }

    .spinner
    {
        position: absolute;

        margin-top: 13px;

        background-image: url('../images/spinner.gif');

        @media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)
        {
            background-image: url('../images/spinner-2x.gif');
        }
    }

    .button-primary
    {
        width: 100%;
        height: 46px;
        padding: 9px 30px 11px 30px;

        border-color: $success-color-dark;
        background: $success-color;
        box-shadow: 0 3px 0 $success-color-dark;
        text-shadow: none;

        font-size: 14px;

        &.disabled,
        &.button-primary-disabled
        {
            border-color: $success-color-dark !important;
            background: $success-color !important;

            color: rgba($white, .5) !important;
        }

        &.focus,
        &:hover,
        &:focus
        {
            background-color: $success-color-light;
        }

        &.active,
        &.active:focus,
        &.active:hover,
        &:active
        {
            border-color: $success-color-dark;
            background-color: $success-color-medium;
            box-shadow: inset 0 2px 0 $success-color-dark;

            transform: translateY(3px);
        }
    }
}
